.header {
  height: 40px;
  background-color: cornflowerblue;
}

body {
  background-color: whitesmoke;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  gap: 10px;
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}
